@import "~bootstrap/dist/css/bootstrap.css";

body {
    font-family: 'KoHo', sans-serif;
}

main > .container {
    padding: 80px 15px 0;
}

.footer {
    background-color: #885454;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
