@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@400;700&display=swap');

@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'KoHo', sans-serif;
}

main {
  & > .container {
    padding: 80px 15px 0;
  }
}

.footer {
  background-color: #f5f5f5;

  & > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
